body{
    background: lightblue;
    display: flex;
    align-items: center; /*centrado vertical*/
    justify-content: center; /*centrado horizontal*/
    min-height: 100vh;
    margin: 0;
    font-size: 40px;

    background-image: url('./bg.jpg')
}